// Import Utilities styles
@import './utilities/styleConfig.scss';

// Import Routes Styles
@import './routes/HomePage/style.scss';

// Import Components Styles
@import './components/AppLayout/style.scss';
@import './components/MovieTiles/style.scss';
